.calendar table{
    width: 96%;
    table-layout: fixed;
}

.calendar th {
    padding: 20px 15px;
    text-align: center;
}

.calendar td {
    padding: 30px 15px;
    text-align: center;
    width: 100%;
}